//
// Custom components variables overrides.
//
// CivicTheme variables can be found in
// <path/to/civictheme>/components/00-base/_variables.components.scss
//
// stylelint-disable scss/dollar-variable-pattern

// Example to override component's variable - Back to Top should have a
// 'custom1' colour background.
$ct-back-to-top-light-background-color: ct-color-light('custom1');

.ct-basic-content blockquote p {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .ct-logo .ct-logo__image {
    max-height: 9.5rem;
    position: absolute;
    z-index: 1;
  }
}

.ct-footer__top__content-top2 img{
  max-width: 100px;
}

.ct-header__content-top3 .ct-social-links {
  float: right;
}
